@media (max-width: 500px) {
   

    .nearbyoptions-container{
        /* margin-left: 1.5vw; */
     
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .nearbyoptions_item_image{
        grid-column: 1/2;
        height: 35vw;
        margin: 3vw;
        width: 40vw;
        border-radius: 3vw;
        
    }
   .nearbyoptions_item_infos{
    margin-right: 2vw;
    grid-column: 2/2;
    margin-top: 3vw;
   }
    .nearbyoptions_item{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border: solid 0.2vw gray;
        margin: 1vw;
        border-radius: 1vw;
        line-height: 1.6vw;
        
    }
    /* .highly-rated-nearby-options{
        margin-top: 10vw;
    } */
   

  
   
    
    .nearbyoptions_item_dish-name-container{
        width: 40vw;
        display: flex;
        justify-content: space-between;
        text-align: start;
    }
    .nearbyoptions_item_dish-restaurant-container{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        line-height: 4vw;
        text-align: start;




    }
    .nearbyoptions_item_dish-rating-container{
        display: flex;
        font-size: 3.5vw;
    ;

        /* justify-content: space-evenly; */

    }
    
    .nearbyoptions_icon{
        margin: 1vw;
        height: 8.4vw;

    }
    .nearbyoptions_rating-content{
        margin-right: 1vw;
        margin-top: 5vw;
        margin-left: 1vw;
    }
    .nearbyoptions_distance-km{
        font-size: 4vw;
    }
    

  }