@media (max-width: 500px) {
    .nearbyoptions-container{
        /* margin-left: 1.5vw; */
        margin-right: 4vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    .nearbyoptions-item-image{
        height: 20vw;
        margin: 5vw;
        width: 30vw;
        
    }
    .nearbyoptions-item{
        display: flex;
        border: solid 0.2vw gray;
        margin: 1vw;
        border-radius: 1vw;
    }
    .highly-rated-nearby-options{
        margin-top: 10vw;
    }
    .neabyoptions-item-address{
        font-size: 3vw;
    }
    



  }