.carousel-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 450px;
    margin-top: 50px;
    margin-left: 10%;
    transition: transform 0.3s ease;
    padding: 2%;
    background-color: #f8f8f8;
    border-radius: 7px;
}

.single-card {
    width: 100%;
    height: 100%;

    /* Trying out */
    opacity: 1;
    transition: opacity 0.5s ease
}

.hidden {
    display: none;

    /* Trying out */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;

    /* Trying out */
    transform: translateY(-300%);
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: 1.2rem;
    color: #009688;
}

.arrow-right {
    right: 1.2rem;
    color: #009688;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1.2rem;
    /* margin-top: 100px; */
}

.indicator {
    width: 0.5rem;
    height: 0.7rem;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0 0.3rem;
    cursor: pointer;
    background-color: #FF5252;
}

.inactive {
    background-color: #009688;
}

.dish-image {
    width: 80%;
    height: 200px;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.titles {
    text-align: center;
}

.title-restaurant {
   text-align: center;
   color: #333;
}

.food-type-icon {
    width: 8%;
}

.food-type-icon2 {
    width: 10%;
}

.type-icon-rating-container {
    display: flex;
    /* grid-template-columns: 50% 50%; */
    justify-content: center;
    align-items: center;
    height: 50px;
}

.rate-icon {
    width: 7%;
    gap: 20%;
    max-width: 35px;
}

.rest-icon-name-container {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
    height: 40px;
    align-content: center;
}

.rest-icon {
    display: flex;
    width: 25%;
    min-width: 30px;
    max-width: 50px;
    margin-left: 37%;
    padding: 0;
}

.sliding-carousel-title {
    padding-left: 10%;
    font-size: 25px;
    color: #FF5252;
}