.food-carousel-container {
    position: relative;
    width: 80%;
    margin: 25px auto;
}

.food-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #f8f8f8;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.food-carousel-inner {
    width: 100%;
}

.food-carousel-item {
    width: 100%;
    height: 100%;
}

.food-carousel-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Adjust based on your preferred height */
    object-fit: cover; /* Ensure images fill the container without distortion */
}

@media (max-width: 768px) {
    .food-carousel-image {
        max-height: 300px; /* Reduce height for smaller screens */
    }
}


.food-carousel-control-prev,
.food-carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.food-carousel-control-prev {
    left: 1.2rem;
}

.food-carousel-control-next {
    right: 1.2rem;
}

.food-carousel-control-prev-icon,
.food-carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    color: #009688; /* or any other color */
}

.food-carousel-item {
    display: none;
    transition: opacity 0.5s ease;
}

.food-carousel-item.active {
    display: block;
    opacity: 1;
}
