*, *::after, *::before {
    box-sizing: border-box;
}

.top-menubar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

:root {
    --bar-width: 50px;
    --bar-height: 7px;
    --hamburger-gap: 8px;
    --foreground: black;
    --background: white;
    --hamburger-margin: 30px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: 37px;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 100;
    cursor: pointer;
}

.hamburger-menu::before, .hamburger-menu::after, .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    position:absolute;
    translate: 100%;
    width: 100%;
    height: 100vH;
}

.sidebar-links {
    height: 100%;
    border: 1px solid black;
}

.logo:hover {
    cursor: pointer;
}

