.dish-details-container {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.dish-details_dish-name {
  color: #FF5252;
}

.dish-details_dish-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.dish-details_dish-rating-infos {
  width: 100%;
  height: 65px;
  /* line-height: 65px; */
  display: flex;
  align-items: center;
}

.dish-details_rating-content {
  margin: 0;
  font-size: 3.5rem;
}

.dish-details_dish-rating-image {

}

.dish-details_rating-length {
  margin: 0;
  margin-left: auto;
  font-size: 1.5rem;
  justify-content: flex-end;
  align-self: end;
  /* vertical-align: end; */
}

.dish-details_rating-length span {
  font-size: 75%;
  vertical-align: text-top;
}

.dish-details_restaurant-buttons {

}

.dish-details_call-restaurant-button {

}

.dish-details_route-restaurant-button {

}

.rating-container {

}

.dish-details_ask-for-rating {

}

.had-it-before {

}

.dish-details_plate-rating {

}

.dish-details-button-group {

}