
@media (max-width: 500px) {
    .dish-details-container{
        margin-top: -15vw;

    }
    .dish-details_dish-name  {
        margin-top: 20vw;
        
        text-align: center;
    }
    .dish-details_restaurant-name {

        
        text-align: center;
    }
    .dish-details_dish-image{
        /* margin-top: 10vw; */
        width: 80vw;
        margin-left: 10vw;

        height: 50vw;
        text-align: center;
        /* margin-left: 8vw; */
        text-align: center;
        border-radius: 1vw;

    }
    .dish-details_restaurant-buttons{
       
        text-align: center;
       

    }
    .dish-details_rating-length{
        transform: translate(0vw,-20vw);
        text-align: center;
        color:gray;
       
    }
    .dish-details_restaurant-buttons_call{
        margin: 2vw;
        width: 25vw;
        height: 8vw;
        border-radius: 3vw;

    }
    .dish-details_restaurant-buttons_directions{
        margin: 2vw;
        width: 25vw;
        height: 8vw;
        border-radius: 3vw;

    }
.dish-details_restaurant-info{
    margin: 8vw;
    margin-top: 0vw ;
    transform: translate(0vw, -15vw);
  
    border: solid 0.2vw gray;
    text-align: center;
    justify-content: center;
    padding: 1vw;
}
.dish-details_ingredients-title{
    margin-left: 10vw;
    transform: translate(0vw, -20vw);
}
 .dish-details_rating-title{
    margin-left: 10vw;
    transform: translate(0vw, 0vw);
}
.dish-details_ingredients-content{
    margin-left: 10vw;
    transform: translate(0vw, -20vw);
}
.dish-details_rating-content{
    margin-left: 15vw;
    transform: translate(6vw, -10vw);

   
    font-size: 10vw;
    color: black;
  
}
.dish-details-rating-button{

 text-align: center;
 margin-left: 33vw;
 font-size: 4vw;
 width: 35vw;
 height: 8vw;
 margin-bottom: 3vw;
 border-radius: 3vw;
 transform: translate(1vw, -6vw);
 border: solid 0.2vw gray;


}
.dish-details_plate-rating {
    
    display: flex;
    gap: 5px;
    margin-left: 10vw;

  }
  
  .dish-details_plate-rating img {
    transform: translate(0vw, -12vw);

    width: 15vw;
    height: 15vw;
    cursor: pointer;
  }
  .plate-rating{
    margin-top: 2vw;
    margin-left: 15vw;
  }
  .dish-details_ask-for-rating{
    margin-left: 10vw;
    margin-right: 7vw;
    transform: translate(0vw, -15vw);


  }
  



  }