@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap'); */

body {
  font-family: Nunito, sans-serif;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}


.auth-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 80vh;
  gap: 2rem;
  margin-bottom: 100px;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px; // Align with login-box width 
  padding: 0 1rem;
} */

/* .logo {
  width: 150px;
} */

/* .menu-icon {
  font-size: 1rem;
  cursor: pointer;
} */

.auth-food-images {
  display: flex;
  justify-content: center;
  gap: 0rem;
}

.auth-food-image {
  width: 45%;
}
