br{height: 2vw;}

.searchbar-map-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 9%;
    margin-left: 5%;
}

.map-icon:hover {
    cursor: pointer;
}
.homepage_filterpercuisine{
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-left: 3vw;
    margin-right: 7vw;
    margin-top: 8vw;
    margin-bottom: -8vw;
    gap: 3px; 
}

.homepage_filterpercuisine_item_image{
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    border: solid 1px turquoise;
}
.homepage_filterpercuisine_item_image:hover {
    cursor: pointer;
    background-color: black;
}
.homepage_filterpercuisine_item_image.active {
    background-color: black;
}
.homepage_filterpercuisine_item_image.inactive {
    background-color: white;
}

.homepage_filterpercuisine_item{
    /* margin: 2vw; */ 
}
.homepage_filterpercuisine_item_name{
    margin-top: -1vw;
    font-size: 3vw;
    text-align: center;  
    font-weight: 700;
}

.highly-rated-nearby-options {
    font-size: 27px;
    margin-bottom: 0px;
    margin-top: 7vw;
    margin-left: 5%;
}