
@media (max-width: 500px) {
    .nearbyoptions-container{
        margin-left: 5vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    .nearbyoptions-image{
        height: 20vw;
        margin: 2vw;
    }
  
    h4{
        margin-top: 10vw;
        margin-left: 10vw;
    }
    .search-bar__container {
        justify-content: center; /* Centers horizontally */
        align-items: center;
    }
    .search-bar_input{
        /* margin-top: 10vw; */
        /* margin-left: 10vw; */
        border: none;
        border-bottom: 1px solid #009688;
        outline-color: #FF5252;
        justify-content: center;
        /* border-radius: 5vw; */
        /* border: none; */
        width: 70vw;
        height: 9vw;
        padding: 2vw;
        padding-left: 20px;
    }
  



  }
