.category-filter-container {
  width: 100%;
}

.category-filters {
  /* border: 1px solid black; */
  /* width: 100%; */
  margin: 10px 0;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.category-filter-button {
  width: fit-content;
  height: 40px;
  border: 1px solid #FF5252;
  border-radius: 10px;
  background: #fff;
  padding: 0 20px;
  color: #FF5252;
}
.category-filter-button:hover {
  cursor: pointer;
}

.cfb-active {
  background: #FF5252;
  color: white;
}


.active-dish-filter {
  width: 90%;
  margin: 0 0 0 5%;

}